extends layout

block content

  h1 Category: #{category.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Items

    dl
      each item in category_items
        div.item
          a(href=item.url)
            p.itemheader=item.name 
          p.itemdesc=item.description 
          p.itemprice=item.price 
          p.stock=`Quantity:${item.quantity}`
      else
        p This category has no items
  p
    a(href=category.url+'/delete') Delete Category
  p 
    a(href=category.url+'/update') Update Category